name: Warning Demo

on: [push]

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run warning demo script
        run: bash example-warnings.sh

      - name: test
        run: echo "### Hello world! :rocket:" >> $GITHUB_STEP_SUMMARY

